p {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #10141e;
  color: white;
}
nav ul li img {
  width: 16px;
  height: 16px;
}
input {
  background-color: #10141e;
  border: none;
  width: 233px;
  color: white;
}
input[type="text"]:focus {
  outline: none;
}
main {
  padding: 0px 16px 0px 16px;
}
.play {
  display: none;
}
main .trending {
  margin-bottom: 16px;
  font-weight: 200;
  font-size: 19px;
}
main .recomended,
.movies,
.tv-series,
.bookmarked {
  margin: 24px 0px 24px 0px;
  font-weight: 200;
  font-size: 19px;
  padding: 0px 24px;
}
.App-header header {
  display: flex;
  justify-content: space-between;
  background-color: #161d2f;
  height: 56px;
  align-items: center;
  padding: 0px 16px;
}
.header-logo img {
  width: 25px;
  height: 20px;
}
.App-header header .profile {
  width: 24px;
  height: 24px;
}
.App .app-search {
  display: flex;
  align-items: center;
  margin-top: 24px;
  column-gap: 16px;
  padding: 0px 24px;
  margin-bottom: 24px;
}
.main-trending {
  overflow: auto;
}
.main-trending::-webkit-scrollbar {
  display: none;
}
.main-trending-cards {
  display: flex;
  flex-direction: row;
  width: max-content;
  column-gap: 16px;
}
.main-trending-cards .card {
  width: 240px;
  height: 140px;
  position: relative;
  border-radius: 8px;
  max-width: 470px;
}
.main-trending-cards .card .film {
  position: absolute;
  bottom: 16px;
  left: 16px;
}
.card .film .film-info {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #d7d9dd;
  column-gap: 7px;
}
.card .film .film-info span {
  width: 4px;
  height: 4px;
  background-color: #d7d9dd;
  border-radius: 50%;
}
.card .film .title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 6px;
}
.card .film .film-info p:first-child {
  margin: 0px;
}
.main-trending-cards .card .card-save {
  width: 32px;
  height: 32px;
  background-color: #5d6678;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
}
.App .main-trending p:first-child {
  margin-bottom: 16px;
}
.App-header header .profile img {
  width: 24px;
}
.App-header header nav ul {
  display: flex;
  width: 133px;
  justify-content: space-between;
}
.main-recommended {
  padding: 0px 24px;
}
.main-recommended .main-recommended-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px 15px;
}
.recommended-card {
  position: relative;
  flex: 1;
}
.recommended-card .main-img {
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
}
.recommended-card .main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recommended-card h2 {
  font-size: 14px;
  font-weight: 500;
}
.recommended-card .film-info {
  display: flex;
  column-gap: 5px;
  color: #b8a9a9;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
  align-items: center;
}
.recommended-card .film-info span {
  width: 3px;
  height: 3px;
  background-color: #b8a9a9;
  border-radius: 50%;
}
.recommended-card .film-info img {
  height: 10px;
}
.card-save {
  width: 32px;
  height: 32px;
  background-color: #5d6678;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
}
.active {
  path {
    fill: white;
  }
}
@media (min-width: 400px) {
  .App-header {
    padding: 23px 24px 0 25px;
  }
  .App-header header {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .App-header header nav ul {
    width: 172px;
  }
  .main-trending-cards .card {
    width: 470px;
    height: 230px;
  }
  .main-recommended-cards div:last-child {
    max-width: 220px;
  }
  .main-recommended .main-recommended-cards {
    gap: 30px 24px;
  }
}
@media (min-width: 768px) {
  .App {
    max-width: 1440px;
    display: flex;
  }
  .card {
    position: relative;
  }

  .card,
  .recommended-card {
    cursor: pointer;
    flex: unset;
    width: 280px;
    height: 226px;
  }
  .recommended-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 83%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    z-index: 0;
  }
  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* No overlay initially */
    transition: background-color 0.3s ease; /* Smooth transition */
    z-index: 0; /* Ensure it sits behind the text */
  }

  .card:hover::before,
  .recommended-card:hover::before {
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
  }
  .card:hover .play,
  .recommended-card:hover .play {
    display: flex;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: #ffffff4d;
    width: 117px;
    height: 48px;
    border-radius: 28px;
    align-items: center;
  }
  .card-save:hover {
    background-color: #6d5a5a7d;
  }
  .card:hover .play img,
  .recommended-card:hover .play img {
    padding-left: 9px;
    padding-right: 19px;
  }
  .card:hover .play span,
  .recommended-card:hover .play span {
    margin-top: -4px;
  }
  nav ul li:hover {
    path {
      fill: red;
    }
  }
  .App-header {
    padding-top: 32px;
  }
  .App main {
    overflow: hidden;
  }
  .App .app-search {
    margin-top: 60px;
  }
  input[type="text"] {
    cursor: pointer;
  }
  input {
    caret-color: red;
  }
  .App-header header {
    flex-direction: column;
    height: 94vh;
    width: 96px;
    justify-content: unset;
    border-radius: 20px;
    position: sticky;
    top: 18px;
  }
  .App-header header .profile {
    margin-top: 400px;
    width: 40px;
  }
  .App-header header .profile img {
    width: 100%;
  }
  .App-header .header-logo {
    margin-top: 35px;
    margin-bottom: 74px;
  }
  .App-header header nav ul {
    flex-direction: column;
    width: fit-content;
    height: 200px;
  }
}
