p {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #10141e;
  color: white;
}
nav ul li img {
  width: 16px;
  height: 16px;
}
input {
  background-color: #10141e;
  border: none;
  width: 233px;
  color: white;
}
input[type="text"]:focus {
  outline: none;
}
.App {
  padding: 0px 16px 0px 16px;
}
main .trending {
  margin-bottom: 16px;
  font-weight: 200;
  font-size: 19px;
}
main .recomended {
  margin: 24px 0px 24px 0px;
  font-weight: 200;
  font-size: 19px;
}
.App-header header {
  display: flex;
  justify-content: space-between;
  background-color: #161d2f;
  height: 56px;
  align-items: center;
}
.header-logo img {
  width: 25px;
  height: 20px;
}
.App-header header .profile {
  width: 24px;
  height: 24px;
}
.App .app-search {
  display: flex;
  align-items: center;
  margin-top: 24px;
  column-gap: 16px;

  margin-bottom: 24px;
}
.main-trending {
  overflow: auto;
}
.main-trending-cards {
  display: flex;
  flex-direction: row;
  width: max-content;
  column-gap: 16px;
}
.main-trending-cards .card {
  width: 240px;
  height: 140px;
  position: relative;
  border-radius: 8px;
}
.main-trending-cards .card .film {
  position: absolute;
  bottom: 16px;
  left: 16px;
}
.card .film .film-info {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #d7d9dd;
  column-gap: 7px;
}
.card .film .film-info span {
  width: 4px;
  height: 4px;
  background-color: #d7d9dd;
  border-radius: 50%;
}
.card .film .title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 6px;
}
.card .film .film-info p:first-child {
  margin: 0px;
}
.main-trending-cards .card .card-save {
  width: 32px;
  height: 32px;
  background-color: #5d6678;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
}
.App .main-trending p:first-child {
  margin-bottom: 16px;
}
.App-header header .profile img {
  width: 24px;
}
.App-header header nav ul {
  display: flex;
  width: 133px;
  justify-content: space-between;
}
.main-recommended .main-recommended-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recommended-card {
  margin-bottom: 16px;
  position: relative;
}
.recommended-card .main-img {
  width: 164px;
  border-radius: 8px;
}
.recommended-card h2 {
  font-size: 14px;
  font-weight: 500;
}
.recommended-card .film-info {
  display: flex;
  column-gap: 5px;
  color: #b8a9a9;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
  align-items: center;
}
.recommended-card .film-info span {
  width: 3px;
  height: 3px;
  background-color: #b8a9a9;
  border-radius: 50%;
}
.recommended-card .film-info img {
  height: 10px;
}
.card-save {
  width: 32px;
  height: 32px;
  background-color: #5d6678;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
}
.active {
  path {
    fill: white;
  }
}
